<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div  layout:fragment="content">
    <div class="mx-auto my-3">
        <div th:text="${errors}" class="margin-bottom alert-danger"></div>
        <form action="#" th:action="@{/post/comment/{id}(id=${id})}" th:object="${commentDto}" method="post">
            <div class="mb-3">
                <div>
                    <input class="form-control" id="commentText" th:field="${commentDto.text}" type="text" defaultValue="" required/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary button-fixed">
                        Обновить
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>